name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-and-test:
    permissions:
      contents: read
      pull-requests: write
      checks: write
      security-events: write

    name: Build and Test

    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0

      - name: Setup DotNet
        uses: actions/setup-dotnet@3447fd6a9f9e57506b15f895c5b76d3b197dc7c2
        with:
          global-json-file: global.json

      - name: Setup Java JDK
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 // v3.13.0
        with:
          java-version: 17         

      - name: Initialize CodeQL
        uses: github/codeql-action/init@f31a31c052207cc13b328d6295c5b728bb49568c
        with:
          languages: csharp
          queries: +security-extended,security-experimental,security-and-quality

      - name: Restore dependencies
        run: dotnet restore src/GitHubActions.Gates.Samples.sln

      - name: sonar begin
        if: github.actor != 'dependabot[bot]'
        run: |
          dotnet tool install --global dotnet-sonarscanner --version 5.14.0
          dotnet sonarscanner begin \
          /o:${{ vars.SONAR_ORG }} \
          /k:tspascoal_GitHubActions.Gates.Samples \
          /d:sonar.host.url=https://sonarcloud.io

      - name: Build
        run: dotnet build src/GitHubActions.Gates.Samples.sln --no-restore /p:TreatWarningsAsErrors=true

      - name: Unit Tests
        run: dotnet test src/GitHubActions.Gates.Samples.sln --no-build --verbosity normal --logger:"junit;LogFilePath=unit-tests.xml" --collect:"XPlat Code Coverage" --results-directory ./coverage

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@f31a31c052207cc13b328d6295c5b728bb49568c
        with:
          category: "/language:csharp"

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@ca89ad036b5fcd524c1017287fb01b5139908408
        if: always() && github.actor != 'dependabot[bot]'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: Tests Results
          files: '**/unit-tests.xml'
          report_individual_runs: true
          deduplicate_classes_by_file_name: false

      - name: Merge coverage reports
        if: always() && github.actor != 'dependabot[bot]'
        run: |
          dotnet tool install --global dotnet-coverage
          cd coverage
          dotnet-coverage merge -o ${{github.workspace}}/coverage/coverage-merged.xml -f cobertura -r coverage.cobertura.xml

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@51cc3a756ddcd398d447c044c02cb6aa83fdae95
        if: always() && github.actor != 'dependabot[bot]'
        with:
          filename: coverage/coverage-merged.xml
          badge: true
          format: 'markdown'
          output: 'both'

      - name: Add code coverage to summary
        if: always() && github.actor != 'dependabot[bot]'
        run: |
          echo "## Code Coverage Summary" >> $GITHUB_STEP_SUMMARY
          cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@efaaab3fd41a9c3de579aba759d2552635e590fd
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: sonar end
        if: github.actor != 'dependabot[bot]'
        run: dotnet sonarscanner end
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

