name: Deploy-Issues Gate

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write   

jobs:
  build-and-deploy:
    name: Build and Deploy
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      gate-project-folder: 'Issues.Gate'      
      function-name: ${{ vars.ISSUES_GATE_APP_NAME }}
      function-version: ${{ github.event.release.name  }}      
      client-id: ${{ vars.ISSUES_GATE_CLIENT_ID }}
    secrets:
      tenant-id: ${{ secrets.ISSUES_GATE_TENANT_ID }}
      subscription-id: ${{ secrets.ISSUES_GATE_SUBSCRIPTION_ID }}
